video{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 50px auto;
    box-sizing: border-box;
    border: 0px solid red;
}

.video-block{
    text-align: center;
    padding: 20px 30px;
    margin: 0 auto;
    flex-basis: 40%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #202025;
}

.video-block div{
    text-align: left;
    margin-bottom: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #edf0f1;
}

.video-block p{
    text-align: justify;
    font-size: small;
    letter-spacing: 1px;
    box-sizing: border-box;
}