@media(max-width: 2560px){

}
@media(max-width: 1920px){
    
}
@media(max-width: 1600px){
    
}
@media(max-width: 1440px){
    
}
@media(max-width: 1280px){
    .content-parent{
        flex-wrap: wrap;
    }

    .section-video{
        flex-basis: 100%;
        margin: 0;
    }

    .section-description{
        flex-basis: 100%;
        margin: 0;
        padding: 10px;
    }
}
@media(max-width: 1080px){
    
}
@media(max-width: 1024px){
    
}
@media(max-width: 962px){
    #nav-bar button{
        display: none;
    }

    #hidden-buttons-icon{
        display: inline-flex;
    }
    
    #footer{
        flex-wrap: wrap;
    }

    .footer-columns{
        flex-basis: 100%;
    }
}
@media(max-width: 810px){
    
}
@media(max-width: 768px){
    
}
@media(max-width: 720px){
    
}
@media(max-width: 640px){
    
}
@media(max-width: 601px){
    
}
@media(max-width: 540px){
    
}
@media(max-width: 425px){
    .section-description{
        padding: 5px;
    }

    .buttons-to-other-pages{
        flex-wrap: wrap;
    }

    .buttons-to-other-pages button{
        margin: 20px 40px;
    }
}
@media(max-width: 375px){
    
}
@media(max-width: 320px){
    
}