@media(max-width: 2560px){
    
}

@media(max-width: 1920px){
    
}

@media(max-width: 1600px){
    
}

@media(max-width: 1440px){
    
}

@media(max-width: 1280px){
    #personal-info-section{
        width: 70%;
    }
}

@media(max-width: 1080px){    
    #personal-info-section{
        width: 75%;
    }

    .personal-info-text{
        flex-basis: 40%;
        margin: auto 20px auto 0;
    }

    #myphoto{
        flex-basis: 50%;
    }
}

@media(max-width: 1024px){
    
}

@media(max-width: 962px){
    #personal-info-section{
        flex-wrap: wrap;
    }

    #myphoto{
        flex-basis: 60%;
        order: 0;
    }

    .personal-info-text{
        flex-basis: 80%;
        order: 1;
    }
}

@media(max-width: 810px){
    #games-section div{
        margin: 30px 20px;
    }

    #myphoto{
        flex-basis: 65%;
        order: 0;
    }
}

@media(max-width: 768px){
    
}

@media(max-width: 720px){
    
}

@media(max-width: 640px){
    #games-section{
        flex-direction: column;
        width: 50%;
    }

    #myphoto{
        flex-basis: 67.5%;
        order: 0;
    }
}

@media(max-width: 601px){
    
}

@media(max-width: 540px){
    #myphoto{
        flex-basis: 70%;
        order: 0;
    }
}

@media(max-width: 425px){
    #personal-info-section{
        padding: 30px;
        width: 80%;
    }

    .personal-info-text{
        flex-basis: 100%;
    }

    #myphoto{
        flex-basis: 95%;
        order: 0;
    }

    #games-section{
        width: 70%;
    }

    .personal-info-buttons{
        flex-wrap: wrap;
    }

    .personal-info-buttons a{
        flex-basis: 100%;
        margin: 20px auto;
    }

    .social-media{
        margin-top: 0;
    }
}

@media(max-width: 375px){
    .personal-info-text{
        flex-basis: 100%;
    }
}

@media(max-width: 320px){
    .personal-info-text h1{
        font-size: large;
    }

    #games-section{
        width: 80%;
    }
}